<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjektBiblioteka.Properties.Settings.libraryConnectionString"
            connectionString="Data Source=DESKTOP-TEBB0TS\SQLCOURSE2017;Initial Catalog=library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjektBiblioteka.Properties.Settings.LoginBaseConnectionString"
            connectionString="Data Source=DESKTOP-TEBB0TS\SQLCOURSE2017;Initial Catalog=LoginBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>